<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user
          [isSelected]="user.id === selectedUserId()"
          [user]="user"
          (select)="onSelectUser($event)"
        />
      </li>
    }
  </ul>

  @if (selectedUser) {
    <app-user-tasks
      [userId]="selectedUserId()"
      [name]="selectedUser.name"
    />
  } @else {
    <app-user-tasks
      [userId]="selectedUserId()"
      name="Please select an user from the list"
    />
  }

</main>

<router-outlet />
