@if (isAddingTask) {
  <app-new-task
    [userId]="userId()"
    (closeModal)="onCancelAddTask()"
  />
}

<section id="tasks">
  <header>
    <h2>
      {{ name() }}'s tasks
    </h2>
    @if (userId() !== '') {
      <menu>
        <button
          (click)="onStartAddTask()"
        >
          Add Task
        </button>
      </menu>
    }

  </header>

  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-single-task
          (complete)="onClickCompleteTask($event)"
          [task]="task"
        />
      </li>
    }
  </ul>
</section>
